extends _component/layout/page
block cool-config
  -
    var myTitleForGoogle = 'my really awesome CV';
    var myDescriptionForGoogle = "this is made entirely with HTML5 and CSS3";
block awesome-content
  include _component/landing-page/landing-page
  include _component/about-me/about-me